/*Caleb Miller
	20170730
		This is my own product*/
#primaryStage {
	-fx-background-color: blue;
}
table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #FFFFFF;
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #0254d8;
}
